{% extends 'assignments/base.html' %}
{% load static %}
{% load poll_extras %}

{% block head %}
  {{ block.super }}
  <style>
    .main-container {
      padding-bottom: 36px;
      max-width: 1160px;
      width: 90vw;
      margin: 36px auto;
      min-height: 700px;
    }

    .completed-tasks-container {
      max-width: 600px;
      height: 700px;
      margin: auto;
    }
    .list {
      margin-top: 36px;
    }
    .list .list-header {
      font-size: 25px;
      color: white;
      padding: 10px 0;
      border-bottom: solid 2px white;
      display: flex;
      align-items: center;
    }
    .task-card {
      margin-top: 16px;
      display: flex;
      background-color: white;
      border-radius: 3px;
    }
    .task-card .colored-lable {
      width: 10px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .task-card .task {
      flex-grow: 1;
      padding: 16px 32px 16px 16px;
    }
    .task-card .task .task-text {
      font-size: 20px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
    }
    .task-card .task .task-actions {
      height: 60px;
      display: flex;
      align-items: center;
    }
    .task-card .task .task-actions .action {
      text-decoration: none;
    }
    .task-card .task .task-actions .action:not(:first-of-type) {
      margin-left: 16px;
    }
    .task-card .task .task-actions .action:not(:last-of-type) {
      margin-right: 16px;
    }
    .task-card.goals .task .task-actions .action {
      color: #F44336;
    }
    .task-card.progress .task .task-actions .action {
      color: #0C73AF;
    }
    .task-card.activities .task .task-actions .action {
      color: #FF9F1C;
    }
    .task-card.interruptions .task .task-actions .action {
      color: #616161;
    }
    .task-card.goals .colored-lable {
      background-color: #F44336;
    }
    .task-card.progress .colored-lable {
      background-color: #0C73AF;
    }
    .task-card.activities .colored-lable {
      background-color: #FF9F1C;
    }
    .task-card.interruptions .colored-lable {
      background-color: #616161;
    }

    .card {
      border-radius: 2px;
      background-color: white;
      width: 100%;
    }
    .card > *:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    .shadow {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .shadow.hoverable:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .spacer {
      flex-grow: 1;
    }
    .clickable {
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="main-container">
    <div class="completed-tasks-container">
      {% for date, list in filtered_tasks  %}
        <div class="list">
          <div class="list-header">
            <span class="date">{{ date | from_tuple_to_pretty_date }}</span>
            <span class="spacer"></span>
            <span>{{ list|length }}</span>
          </div>
          <div class="list-tasks">
            {% for task in list %}
              {% url 'assignments.protected_web:cancel_assigned_task' uuid=assignment_info.uuid info=assignment_info.info|urlencode pk=task.pk as cancel_task_url %}
              {% url 'assignments.protected_web:archive_assigned_task' uuid=assignment_info.uuid info=assignment_info.info|urlencode pk=task.pk as archive_task_url %}
              <div class="task-card {{ task.get_priority_display|lower }}">
                <div class="colored-lable"></div>
                <div class="task">
                  <div class="task-text">
                    <span>{{ task.text }}</span>
                  </div>
                  <div class="task-actions">
                    <span class="spacer"></span>
                    <a href="{{ cancel_task_url }}" class="material-icons action">remove_circle_outline</a>
                    <a href="{{ archive_task_url }}" class="material-icons action">delete</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
