{% extends 'assignments/base.html' %}
{% load static %}
{% load poll_extras %}

{% block head %}
  {{ block.super }}
  <style>
    .main-container {
      padding-bottom: 36px;
      max-width: 1160px;
      width: 90vw;
      margin: 36px auto;
      min-height: 700px;
    }

    .completed-tasks-container {
      margin: auto;
    }
    @media only screen and (max-width: 560px) {
      .completed-tasks-container {
        max-width: 400px;
      }
    }

    .list {
      margin-top: 36px;
    }
    .list .list-header {
      font-size: 25px;
      color: white;
      padding: 10px 0;
    }
    .task {
      display: inline-block;
      background: #fff;
      margin: 0 0 1.5em;
      width: 100%;
      box-sizing: border-box;
    }
    .list-tasks {
      margin: 1.5em 0;
      padding: 0;
      -moz-column-gap: 1.5em;
      -webkit-column-gap: 1.5em;
      column-gap: 1.5em;
      font-size: .85em;
    }
    @media only screen and (min-width: 560px) {
      .list-tasks {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
      }
    }

    @media only screen and (min-width: 700px) {
      .list-tasks {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
      }
    }

    @media only screen and (min-width: 900px) {
      .list-tasks {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
      }
    }

    .card {
      border-radius: 2px;
      background-color: white;
      width: 100%;
    }
    .card > *:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    .card > *:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .task {
      color: white;
    }
    .task .card-text {
      padding: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
    }
    .task .card-actions {
      display: flex;
      padding: 10px 1rem;
    }
    .task .card-actions .action {
      text-decoration: none;
      color: white;
    }
    .task .card-actions .action:hover {
      opacity: 0.8;
    }
    .task.goals .card-text {
      background-color: #F44336;
    }
    .task.goals .card-actions {
      background-color: #FF5742;
    }
    .task.progress .card-text {
      background-color: #0C73AF;
    }
    .task.progress .card-actions {
      background-color: #2185B7;
    }
    .task.activities .card-text {
      background-color: #FF9F1C;
    }
    .task.activities .card-actions {
      background-color: #FFB532;
    }
    .task.interruptions .card-text {
      background-color: #616161;
    }
    .task.interruptions .card-actions {
      background-color: #717171;
    }

    .shadow {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .shadow.hoverable:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .spacer {
      flex-grow: 1;
    }
    .clickable {
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="main-container">
    <div class="completed-tasks-container">
      {% for date, list in filtered_tasks  %}
        <div class="list">
          <div class="list-header">
            <span class="date">{{ date | from_tuple_to_pretty_date }}</span>
          </div>
          <div class="list-tasks">
            {% for task in list %}
              {% url 'assignments.protected_web:cancel_assigned_task' uuid=assignment_info.uuid info=assignment_info.info|urlencode pk=task.pk as cancel_task_url %}
              {% url 'assignments.protected_web:archive_assigned_task' uuid=assignment_info.uuid info=assignment_info.info|urlencode pk=task.pk as archive_task_url %}
              <div class="card task {{ task.get_priority_display|lower }}">
                <div class="card-text">{{ task.text }}</div>
                <div class="card-actions">
                  <a href="{{ archive_task_url }}" class="material-icons action">delete</a>
                  <span class="spacer"></span>
                  <a href="{{ cancel_task_url }}" class="material-icons action">remove_circle_outline</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
