{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Simple task manager based on Eisenhower matrix. Tasks are divided into 4 categories. Also you can share, assign tasks to another person">
    <meta name="keywords" content="Eisentask, Eisenhower Matrix, Todolist, Task Manager, Group Tasks, Shared Tasks, Assignment Tasks, List, Note, Online">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eisentask</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dashboard/assets/img/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/assets/img/icons/favicon-16x16.png' %}">
    <!--[if IE]><link rel="shortcut icon" href="{% static 'dashboard/assets/static/img/icons/favicon.ico' %}"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="{% static 'dashboard/assets/manifest.json' %}">
    <meta name="theme-color" content="#FFC107">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Eisentask">
    <link rel="apple-touch-icon" href="{% static 'dashboard/assets/img/icons/apple-touch-icon-152x152.png' %}">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="{% static 'dashboard/assets/img/icons/msapplication-icon-144x144.png' %}">
    <meta name="msapplication-TileColor" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
    <style>
      * {
        font-family: 'Roboto', sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    {% endblock %}
    {% block head_additions %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block body_additions %}{% endblock %}
  </body>
</html>
