{% extends 'assignments_public/base.html' %}
{% load static %}
{% load poll_extras %}

{% block head %}
  {{ block.super }}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    .main-container {
      padding-bottom: 36px;
      max-width: 1160px;
      width: 90vw;
      margin: 36px auto;
    }
    .content-container {
      max-width: 1160px;
      width: 90vw;
      margin: auto;
    }
    .flex-container {
      display: flex;
      flex-wrap: wrap;
    }
    .flex-container > .flex-item {
      flex-grow: 1;
      flex-basis: 200px;
      flex-shrink: 0;
      max-width: 100%;
      margin-top: 36px;
      width: 0;
      box-sizing: border-box;
    }
    .flex-container > .flex-item:not(:first-of-type) {
      padding-left: 10px;
    }
    .flex-container > .flex-item:not(:last-of-type) {
      padding-right: 10px;
    }
    @media screen and (max-width: 920px) {
      .flex-container > .flex-item {
        flex-basis: 280px;
      }
      .flex-container > .flex-item:nth-child(2n-1) {
        padding-right: 10px;
        padding-left: 0px;
      }
      .flex-container > .flex-item:nth-child(2n) {
        padding-right: 0px;
        padding-left: 10px;
      }
      .flex-container > .flex-item:nth-child(3),
      .flex-container > .flex-item:nth-child(4) {
        margin-top: 16px;
      }
    }
    @media screen and (max-width: 622px) {
      .flex-container > .flex-item:nth-child(2n-1),
      .flex-container > .flex-item:nth-child(2n) {
        padding-right: 36px;
        padding-left: 36px;
      }
      .flex-container > .flex-item:nth-child(3),
      .flex-container > .flex-item:nth-child(4) {
        margin-top: 36px;
      }
    }

    .notifier-container {
      background-color: #FFB532;
    }
    .notifier-container > .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .notifier-container > .container > div {
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .message-icon-button {
      cursor: pointer;
      text-decoration: none;
      color: white;
      display: inline-flex;
      align-items: center;
      padding: 5px 10px;
      border: 1.5px white solid;
      border-radius: 3px;
      margin: 10px 0;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
    }
    .message-icon-button .icon {
      display: inline-flex;
      align-items: center;
    }
    .message-icon-button .text {
      display: inline-flex;
      align-items: center;
      text-transform: uppercase;
      padding-left: 7px;
      padding-right: 5px;
    }
    .message-icon-button:hover {
      background-color: white;
      color: #FFB532;
    }
    .message-text {
      margin: 0;
    }
    .message-text .text {
      text-align: center;
      color: white;
      padding-left: 16px;
      padding-right: 16px;
      display: inline-block;
    }

    .card {
      border-radius: 2px;
      background-color: white;
      max-width: 100%;
    }
    .card > *:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    .card > *:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    .card > .card-header {
      color: white;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .card > .card-header .title {
      font-size: 18px;
      font-weight: 400;
    }
    .card > .card-header .subtitle {
      font-size: 12px;
      font-weight: 400;
    }
    #goals .card-header {
      background-color: #F44336;
    }
    #progress .card-header {
      background-color: #0C73AF;
    }
    #activities .card-header {
      background-color: #FF9F1C;
    }
    #interruptions .card-header {
      background-color: #616161;
    }

    .tasks {
      min-height: 160px;
      padding: 16px;
    }
    .tasks > .task {
      background-color: white;
      box-sizing: border-box;
      margin-bottom: 10px;
      position: relative;
    }
    .tasks > .task .task-text {
      padding: 16px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, .87);
      max-width: 100%;
    }
    .tasks > .task .task-text .text {
      text-overflow: ellipsis;
      white-space: pre-line;
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
    }
    .tasks > .task .task-actions {
      display: flex;
      height: 36px;
      padding: 8px 16px;
      align-items: center;
    }
    .tasks > .task .task-actions > .action {
      text-decoration: none;
    }
    #goals .tasks > .task .task-actions .action {
      color: #F44336;
    }
    #progress .tasks > .task .task-actions .action {
      color: #0C73AF;
    }
    #activities .tasks > .task .task-actions .action {
      color: #FF9F1C;
    }
    #interruptions .tasks > .task .task-actions .action {
      color: #616161;
    }
    .tasks > .task .task-actions .action:hover {
      opacity: 0.7;
    }

    .shadow {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .shadow.hoverable:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .spacer {
      flex-grow: 1;
    }
    .clickable {
      cursor: pointer;
    }

    .task.goals .card-text,
    .description-container.goals .name {
      background-color: #F44336;
    }
    .task.goals .card-actions,
    .description-container.goals .description {
      background-color: #FF5742;
    }
    .task.progress .card-text,
    .description-container.progress .name  {
      background-color: #0C73AF;
    }
    .task.progress .card-actions,
    .description-container.progress .description {
      background-color: #2185B7;
    }
    .task.activities .card-text,
    .description-container.activities .name {
      background-color: #FF9F1C;
    }
    .task.activities .card-actions,
    .description-container.activities .description {
      background-color: #FFB532;
    }
    .task.interruptions .card-text,
    .description-container.interruptions .name {
      background-color: #616161;
    }
    .task.interruptions .card-actions,
    .description-container.interruptions .description {
      background-color: #717171;
    }

    .description-container .name {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .description-container .name .text {
      font-size: 36px;
      display: inline-block;
      max-width: 700px;
    }
    .description-container .description .text {
      font-size: 18px;
      display: inline-block;
      max-width: 700px;
    }
    .description-container .description {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .description-container {
      color: white;
    }

    .form-container {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #42A5F5;
      min-width: 400px;
      max-width: 100%;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      z-index: 100;
    }
    .form-container > *:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .form-container .form-header {
      cursor: pointer;
      height: 60px;
      background-color: #2196F3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form-container .form-header:hover {
      background-color: #1E88E5;
    }
    .form-container .form-header .text {
      color: white;
      font-size: 14px;
      font-weight: 500;
    }
    .form-container .form-content {
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0;
      overflow: hidden;
    }

    .form-field {
      height: 40px;
      display: inline-flex;
      align-items: stretch;
    }
    .form-field .text-field {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: #2196F3; /*#ff5252;*/
      font-size: 16px;
      color: white;
      outline: none;
      padding: 8px 12px;
      margin: 0;
      flex-grow: 1;
      border: none;
    }
    .form-field .text-field::-ms-input-placeholder {
      color: white;
      opacity: 0.7;
    }
    .form-field .text-field:-ms-input-placeholder {
      color: white;
      opacity: 0.7;
    }
    .form-field .text-field::placeholder {
      color: white;
      opacity: 0.7;
    }
    .form-field .button {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
      color: white;
      padding: 8px 12px;
      font-size: 15px;
      background-color: #1E88E5;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .form-field .button:hover {
      background-color: white;
      color: #1E88E5;
    }
    .loader {
      display: none;
      border: 4px solid #3498db;
      border-top: 4px solid #f3f3f3;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .form-content.loading .loader {
      display: block;
    }
    .form-content.loading .form-field {
      display: none;
    }

    .form-container.active .form-content {
      height: 100px;
    }

    .message {
      z-index: 100;
      -webkit-transition: all .7s ease;
      transition: all .7s ease;
      text-align: center;
      padding: 16px;
      background-color: white;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      width: 400px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .message.success {
      color: #4CAF50;
    }
    .message.error {
      color: #f44336;
    }
    .message .text {
      text-align: center;
    }
    .message.active {
      transform: translate(-50%, 0);
    }

    .link {
      text-decoration: none;
      color: #2196F3;
    }
    .link:hover {
      color: #F44336;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="message">
    <span class="text">Some error message</span>
  </div>
  <div class="description-container {{ label_color_class }}">
    <div class="name">
      <div class="content-container">
        <span class="text">{{ name }}</span>
      </div>
    </div>
    <div class="description">
      <div class="content-container">
        <span class="text">{{ description }}</span>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="form-header">
      <span class="text">ASSIGN TO</span>
    </div>
    <div class="form-content">
      <div class="form-field">
        <input class="text-field" type="text" placeholder="Email">
        <span class="button">ASSIGN</span>
      </div>
      <div class="loader"></div>
    </div>
  </div>
  <div class="main-container flex-container">
    <div class="flex-item">
      <div id="goals" class="card list">
        <div class="card-header">
          <span class="title">GOALS</span>
          <span class="subtitle">Important and urgent</span>
        </div>
        <div class="tasks">
          {% for task in tasks.goals %}
            <div class="card task shadow">
              <div class="task-text">
                {% autoescape off %}
                  <span class="text notranslate">{{ task.text|highlight_links }}</span>
                {% endautoescape %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div id="progress" class="card">
        <div class="card-header">
          <span class="title">PROGRESS</span>
          <span class="subtitle">Important and not urgent</span>
        </div>
        <div class="tasks shadow">
          {% for task in tasks.progress %}
            <div class="card task shadow">
              <div class="task-text">
                {% autoescape off %}
                  <span class="text notranslate">{{ task.text|highlight_links }}</span>
                {% endautoescape %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div id="activities" class="card">
        <div class="card-header">
          <span class="title">ACTIVITIES</span>
          <span class="subtitle">Not important and urgent</span>
        </div>
        <div class="tasks shadow">
          {% for task in tasks.activities %}
            <div class="card task shadow">
              <div class="task-text">
                {% autoescape off %}
                  <span class="text notranslate">{{ task.text|highlight_links }}</span>
                {% endautoescape %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div id="interruptions" class="card">
        <div class="card-header">
          <span class="title">INTERRUPTIONS</span>
          <span class="subtitle">Not important and not urgent</span>
        </div>
        <div class="tasks shadow">
          {% for task in tasks.interruptions %}
            <div class="card task shadow">
              <div class="task-text">
                {% autoescape off %}
                  <span class="text notranslate">{{ task.text|highlight_links }}</span>
                {% endautoescape %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_additions %}
  {{ block.super }}
  <script>
    (function () {
      axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
      axios.defaults.xsrfCookieName = "csrftoken";
      var lastClick;
      var showSuccessMessage = (message) => {
        var el = document.querySelector('.message');
        el.classList.remove('error');
        el.classList.add('success');
        el.classList.add('active');
        lastClick = new Date();
        var text = document.querySelector('.message .text');
        if (text) {
          text.innerText = message;
        }
        var f = () => {
          if ((new Date()).getTime() - lastClick.getTime() > 1500) {
            el.classList.remove('active');
          } else {
            setTimeout(f, 100);
          }
        };
        f();
      };
      var showErrorMessage = (message) => {
        var el = document.querySelector('.message');
        el.classList.remove('success');
        el.classList.add('error');
        el.classList.add('active');
        lastClick = new Date();
        var text = document.querySelector('.message .text');
        if (text) {
          text.innerText = message;
        }
        var f = () => {
          if ((new Date()).getTime() - lastClick.getTime() > 3000) {
            el.classList.remove('active');
          } else {
            setTimeout(f, 100);
          }
        };
        f();
      };
      var openAssignToForm = () => {
        var el = document.querySelector('.form-container');
        el.classList.add('active');
      };
      var closeAssignToForm = () => {
        var el = document.querySelector('.form-container');
        el.classList.remove('active');
      };
      var formHeaderEl = document.querySelector('.form-container .form-header');
      formHeaderEl.onclick = () => {
        var el = document.querySelector('.form-container');
        if (el.classList.contains('active')) {
          closeAssignToForm();
        } else {
          openAssignToForm();
        }
      };
      var assignToButton = document.querySelector('.form-content .form-field .button');
      assignToButton.onclick = () => {
        document.querySelector('.form-content').classList.add('loading');
        var email = document.querySelector('.text-field').value;
        axios.post('/api/assignments/protected/assign_to/', {
          email: email,
          uuid: '{{ uuid }}'
        }).then((response) => {
          document.querySelector('.form-content').classList.remove('loading');
          showSuccessMessage('The assigned list has been assigned to ' + email + '.');
          console.log(response);
        }).catch((error) => {
          document.querySelector('.form-content').classList.remove('loading');
          showErrorMessage('Something went wrong.');
          console.log(error);
        })
      };
    })()
  </script>
{% endblock %}
