$background-color = #263238
$color-accent = #FFC107


body
  font-family: 'Roboto', sans-serif
  padding: 0
  margin: 0
  background-color: $background-color


.get-started-button
  color: $color-accent
  border: solid 2px $color-accent
  text-decoration: none
  padding: 7px 14px
  font-size: 2.5vw
  margin:  20px
  border-radius: 30px
  transition: all ease-out 0.15s
  cursor: pointer
  display: inline-block

  @media screen and (min-width: 800px)
    font-size: 20px

  &:hover
    background-color: $color-accent
    color: white


.introduction
  width: 100%
  min-height: 500px
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

  .intro
    width: 600px
    max-width: 85vw

    .main-text
      color: white
      text-align: center

      .header
        .text
          font-weight: 400
          font-size: 10.5vw
          @media screen and (min-width: 800px)
            font-size: 85px

      .content
        .text
          font-weight: 300
          font-size: 3.8vw
          @media screen and (min-width: 800px)
            font-size: 30px
