{% extends 'allauth/base_template_auth.html' %}
{% load static %}

{% block content %}
  <div class="text-white">
    <h1>Confirm E-mail Address</h1>
    {% if confirmation %}
      {% with confirmation.email_address.user as user_display %}
        <p>{% with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endwith %}</p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
          {% csrf_token %}
          <div class="text-center">
            <input type="submit" class="button" value="CONFIRM"></input>
          </div>
        </form>
      {% endwith %}
    {% else %}
      {% url 'account_email' as email_url %}
      <p>This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.</p>
    {% endif %}
  </div>
{% endblock %}
