{% extends 'allauth/account/base_template_auth_signin_signup.html' %}
{% load static %}
{% load material_form %}

{% block signin_item_class %}{{ block.super }} active{% endblock %}

{% block head_additions %}
  <link href="{% static 'allauth/account/login/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block auth %}
  <form method="post">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% with form.login as field %}
      <v-text-field
        name="login"
        prepend-icon="account_circle"
        label="{{ field.field.widget.attrs.placeholder }}"
        :error-messages="loginErrorMessages"
        v-model="login"
        clearable
        counter
        dark >
        <div v-once>
          {% if field.value %}
            [[ login = '{{ field.value }}' ]]
          {% endif %}
          {% if field.errors %}
            [[ loginErrorMessages = [{% for error in field.errors %}'* {{ error }}',{% endfor %}] ]]
          {% endif %}
        </div>
      </v-text-field>
    {% endwith %}
    {% with form.password as field %}
      <v-text-field
        name="password"
        prepend-icon="vpn_key"
        label="{{ field.field.widget.attrs.placeholder }}"
        :error-messages="passwordErrorMessages"
        v-model="password"
        min="8"
        :append-icon="passwordVisibility ? 'visibility' : 'visibility_off'"
        :append-icon-cb="() => (passwordVisibility = !passwordVisibility)"
        :type="passwordVisibility ? 'password' : 'text'"
        counter
        dark >
        <div v-once>
          {% if field.errors %}
            [[ passwordErrorMessages = [{% for error in field.errors %}'* {{ error }}',{% endfor %}] ]]
          {% endif %}
        </div>
      </v-text-field>
    {% endwith %}
    <div class="text-center">
      <div>
        <a class="forgot-password-text" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </div>
      <div>
        <input type="submit" class="button" value="SIGN IN"></input>
      </div>
    </div>
  </form>
{% endblock %}
