{% extends 'allauth/base_template_auth.html' %}
{% load static %}

{% block content %}
  <h2 class="text-white">{% if token_fail %}Bad token{% else %}Change Password{% endif %}</h2>
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="text-white">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
  {% else %}
    {% if form %}
      <form method="post">
        {% csrf_token %}
        {% with form.password1 as field %}
          <v-text-field
            name="password1"
            label="{{ field.field.widget.attrs.placeholder }}"
            :error-messages="passwordErrorMessages"
            v-model="password"
            min="8"
            :append-icon="passwordVisibility ? 'visibility' : 'visibility_off'"
            :append-icon-cb="() => (passwordVisibility = !passwordVisibility)"
            :type="passwordVisibility ? 'password' : 'text'"
            counter
            dark >
            <div v-once>
              {% if field.errors %}
                [[ passwordErrorMessages = [{% for error in field.errors %}'* {{ error }}',{% endfor %}] ]]
              {% endif %}
            </div>
            </v-text-field>
        {% endwith %}
        {% with form.password2 as field %}
          <v-text-field
            name="password2"
            label="{{ field.field.widget.attrs.placeholder }}"
            :error-messages="passwordSecondErrorMessages"
            v-model="password2"
            min="8"
            type="password"
            counter
            dark >
            <div v-once>
              {% if field.errors %}
                [[ passwordSecondErrorMessages = [{% for error in field.errors %}'* {{ error }}',{% endfor %}] ]]
              {% endif %}
            </div>
            </v-text-field>
        {% endwith %}
        <div class="text-end">
          <input type="submit" class="button" value="SIGN IN"></input>
        </div>
      </form>
    {% else %}
      <p class="text-white">Your password is now changed.</p>
      <a href="{% url 'account_login' %}">Sign In</a>
    {% endif %}
  {% endif %}
{% endblock %}
