{% extends 'allauth/base_template_auth.html' %}
{% load static %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% with form.email as field %}
      <v-text-field
        name="email"
        prepend-icon="account_circle"
        label="{{ field.field.widget.attrs.placeholder }}"
        :error-messages="emailErrorMessages"
        v-model="email"
        clearable
        counter
        dark >
        <div v-once>
          {% if field.value %}
            [[ email = '{{ field.value }}' ]]
          {% endif %}
          {% if field.errors %}
            [[ emailErrorMessages = [{% for error in field.errors %}'* {{ error }}',{% endfor %}] ]]
          {% endif %}
        </div>
      </v-text-field>
    {% endwith %}
    <div class="text-center">
      <input type="submit" class="button" value="RESET"></input>
    </div>
  </form>
{% endblock %}
