{% extends 'allauth/base_template_auth.html' %}
{% load static %}

{% block content %}
  <v-container>
    <v-layout justify-center align-center style="min-height: 100%">
      <v-flex xs9 sm8 md7 lg6 xl5>
        {% if token_fail %}
          <p class="text-white text-center" style="font-size: 20px">The password reset link was invalid, possibly because it has already been used.</p>
        {% else %}
          {% if form %}
            <form method="post">
              {% csrf_token %}
              <v-card>
                <v-card-title primary-title>
                  <h3 class="headline mb-0">Change Password</h3>
                </v-card-title>
                <v-card-text>
                  <v-layout justify-center>
                    <v-flex xs11>
                      {% with form.password1 as field %}
                        <v-text-field
                          name="password1"
                          label="New Password"
                          :error-messages="passwordFirstErrorMessages"
                          v-model="password1"
                          min="8"
                          :append-icon="!passwordVisibility ? 'visibility' : 'visibility_off'"
                          :append-icon-cb="() => (passwordVisibility = !passwordVisibility)"
                          :type="!passwordVisibility ? 'password' : 'text'"
                          counter
                          color="blue">
                          <div v-once>
                            {% if field.value %}
                              [[ password1 = '{{ field.value }}' ]]
                            {% endif %}
                            {% if field.errors %}
                              [[ passwordFirstErrorMessages = [{% for error in field.errors %}'* {{ error }}',{% endfor %}] ]]
                            {% endif %}
                          </div>
                        </v-text-field>
                      {% endwith %}
                      {% with form.password2 as field %}
                        <v-text-field
                          name="password2"
                          label="Confirm Password"
                          :error-messages="passwordSecondErrorMessages"
                          v-model="password2"
                          min="8"
                          type="password"
                          counter
                          color="blue">
                          <div v-once>
                            {% if field.value %}
                              [[ password2 = '{{ field.value }}' ]]
                            {% endif %}
                            {% if field.errors %}
                              [[ passwordSecondErrorMessages = [{% for error in field.errors %}'* {{ error }}',{% endfor %}] ]]
                            {% endif %}
                          </div>
                        </v-text-field>
                      {% endwith %}
                    </v-flex>
                  </v-layout>
                </v-card-text>
                <v-card-actions>
                  <v-btn flat color="blue" type="submit">Change</v-btn>
                  <v-btn flat color="grey">Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </form>
          {% else %}
            <p class="text-white">Your password is now changed.</p>
            <a href="{% url 'account_login' %}">Sign In</a>
          {% endif %}
        {% endif %}
      </v-flex>
    </v-layout>
  </v-container>
{% endblock %}
